@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MidStateShuttleService.Models.AllModels

<div class="cardHeader">
    <h2>Check-Ins</h2>
    <!--search
        <div class="search">
        <label>
            <input id="checkSearch" type="text" placeholder="Search" />
            <i class="bi bi-search"></i>
        </label>
    </div>
    -->
    
    <!-- Add Check-In button -->
    <a asp-controller="CheckIn" asp-action="CheckIn" class="btn">Add Check-In</a>
</div>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Date</td>
            <td>Pick Up Location</td>
            <td>Comments</td>
            <td>First Time?</td>
            <td>Is Active</td>
            <td>Update</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody id="checkInsTableBody">
        @if (Model.CheckIn == null || !Model.CheckIn.Any())
        {
            <tr><td colspan="8" class="text-center">There are Currently No Check-Ins</td></tr>
        }
        else
        {
            @foreach (var checkIn in Model.CheckIn.OrderByDescending(c => c.CheckInId))
            {
                <tr class="checkRow">
                    <td>@checkIn.Name</td>
                    <td>@checkIn.Date.ToString()</td>
                    <td>@checkIn.Location.CheckInName()</td>
                    @if (@checkIn.Comments != null)
                    {
                        <td>@checkIn.Comments</td>
                    }
                    else
                    {
                        <td>No Comments</td>
                    }
                    <td>@(checkIn.FirstTime ? "Yes" : "No")</td>
                    <td>@checkIn.IsActive.ToString()</td>
                    <td><a asp-controller="CheckIn" asp-action="EditCheckIn" asp-route-id="@checkIn.CheckInId">Edit</a></td>
                    <td><a asp-controller="CheckIn" asp-action="DeleteCheckIn" asp-route-id="@checkIn.CheckInId">Delete</a></td>
                </tr>
            }
        }
    </tbody>
</table>
<div id="pagination-controls-checkIns" class="pagination">
    <!-- Pagination buttons will be created by JavaScript here -->
</div>

<script src="~/js/tablePagination.js"></script>
