@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MidStateShuttleService.Models.AllModels


<div class="cardHeader">
    <h2>Check-Ins</h2>
    <!-- Add Check-In button -->
    <a asp-controller="CheckIn" asp-action="CheckIn" class="btn">Add Check-In</a>
</div>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Bus Number</th>
            <th>Route</th>
            
            <th>Comments</th>
            <th>First Time?</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.CheckIn == null)
        {
            <tr><td colspan="8" class="text-center">There are Currently No Check-Ins</td></tr>
        }
        else
        {
            @foreach (var checkIn in Model.CheckIn)
            {
                <tr>
                    <td>@checkIn.Date.ToShortDateString()</td>
                    <td>@checkIn.BusNumber</td>
                    <td>@(checkIn.Route != null ? checkIn.Route.ToString() : "N/A")</td>
                    <td>@checkIn.Comments</td>
                    <td>@(checkIn.FirstTime ? "Yes" : "No")</td>
                    <td><a asp-controller="CheckIn" asp-action="EditCheckIn" asp-route-id="@checkIn.CheckInId">Edit</a></td>
                    <td><a asp-controller="CheckIn" asp-action="DeleteCheckIn" asp-route-id="@checkIn.CheckInId">Delete</a></td>
                </tr>
            }
        }
    </tbody>
</table>
