@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MidStateShuttleService.Models.AllModels

<div class="cardHeader">
    <h2>Locations</h2>
    <a asp-controller="Location" asp-action="Create" class="btn">Add Location</a>
</div>
<table>
    <thead>
        <tr>
            <td>Stop Name</td>
            <td>Address</td>
            <td>City</td>
            <td>State</td>
            <td>Zip Code</td>
            <td>Abbreviation</td>
            <td>Active?</td>
            <td>Update</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Location == null)
        {
            <tr><td colspan="8" class="text-center">There are Currently No Locations</td></tr>
        }
        else
        {
            @foreach (var location in Model.Location)
            {
                <tr>
                    <td>@location.Name</td>
                    <td>@location.Address</td>
                    <td>@location.City</td>
                    <td>@location.State</td>
                    <td>@location.ZipCode</td>
                    <td>@location.Abbreviation</td>
                    <td>@location.IsActive.ToString()</td>
                    <td><a asp-controller="Location" asp-action="Edit" asp-route-id="@location.LocationId">Edit</a></td>
                    <td><a asp-controller="Location" asp-action="DeleteLocation" asp-route-id="@location.LocationId">Delete</a></td>
                </tr>
            }
        }
    </tbody>
</table>
