@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MidStateShuttleService.Models.AllModels


<div class="cardHeader">
    <h2>Locations</h2>
    <!--search-->
    <!--<div class="search">
        <label>
            <input id="locationSearch" type="text" placeholder="Search" />
            <i class="bi bi-search"></i>
        </label>
    </div>-->
    <a asp-controller="Location" asp-action="Create" class="btn">Add Location</a>
</div>
<table>
    <thead>
        <tr>
            <td>Stop Name</td>
            <td>Address</td>
            <td>City</td>
            <td>State</td>
            <td>Zip Code</td>
            <td>Abbreviation</td>
            <td>Status</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody id="locationsTableBody">
        @if (Model.Location == null || !Model.Location.Any())
        {
            <tr><td colspan="8" class="text-center">There are Currently No Locations</td></tr>
        }
        else
        {
            @foreach (var location in Model.Location.OrderBy(o => o.Name))
            {
                <tr class="locationRow">
                    <td>@location.Name</td>
                    <td>@location.Address</td>
                    <td>@location.City</td>
                    <td>@location.State</td>
                    <td>@location.ZipCode</td>
                    <td>@location.Abbreviation</td>
                    <td>
                        @if (location.IsActive)
                        {
                            <span>Active</span>
                        }
                        else
                        {
                            <span>Inactive</span>
                        }
                    </td>
                    <td><a asp-controller="Location" asp-action="Edit" asp-route-id="@location.LocationId">Update</a></td>
                    <td><a asp-controller="Location" asp-action="DeleteLocation" asp-route-id="@location.LocationId">Remove</a></td>
                </tr>
            }
        }
    </tbody>
</table>
<div id="pagination-controls-location" class="pagination">
    <!-- Pagination buttons will be created by JavaScript here -->
</div>

<script src="~/js/tablePagination.js"></script>