
@{
}
@model MidStateShuttleService.Models.AllModels

<div class="cardHeader">
    <h2>Shuttles</h2>
    <!--search
        <div class="search">
        <label>
            <input id="shuttleSearch" type="text" placeholder="Search" />
            <i class="bi bi-search"></i>
        </label>
    </div>
    -->
    
    <a asp-controller="Shuttles" asp-action="Create" class="btn">Add Shuttle</a>
</div>
<table>
    <thead>
        <tr>
            <td>Shuttle Number</td>
            <td>Passenger Capacity</td>
            <td>Is Active</td>
            <td>Update</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody id="shuttleTableBody">
        @if (Model == null)
        {
            <tr><td colspan="4" class="text-center">There are Currently No Routes</td></tr>
        }
        else
        {
            @foreach (var b in Model.Bus)
            {
                <tr class="shuttleRow">
                    <td>@b.BusNo</td>
                    <td>@b.PassengerCapacity</td>
                    <td>@b.IsActive.ToString()</td>
                    <td><a asp-controller="Shuttles" asp-action="Edit" asp-route-id="@b.BusId">Edit</a></td>
                    <td><a asp-controller="Shuttles" asp-action="Delete" asp-route-id="@b.BusId">Active</a></td>
                </tr>
            }
        }
    </tbody>
</table>
<div id="pagination-controls-shuttle" class="pagination">
    <!-- Pagination buttons will be created by JavaScript here -->
</div>

<script src="~/js/tablePagination.js"></script>

