@model MidStateShuttleService.Models.AllModels

<div class="cardHeader">
    <h2>Special Requests</h2>
    <!--search-->
    <div class="search">
        <label>
            <input id="registrationSearch" type="text" placeholder="Search" />
            <i class="bi bi-search"></i>
        </label>
    </div>
</div>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Phone Number</td>
            <td>Email</td>
            <td>Pick up time</td>
            <td>Drop off time</td>
            <td>Details</td>
        </tr>
    </thead>
    <tbody id="registrationsTableBody">
        @if (Model.Register == null)
        {
            <tr><td colspan="4" class="text-center">There are Currently No Registrations</td></tr>
        }
        else
        {
            @foreach (var registration in Model.Register)
            {
                @if (registration.SpecialRequest == true)
                {
                    <tr class="registrationRow">
                        <td>@(registration.FirstName) @(registration.LastName)</td>
                        <td>@registration.PhoneNumber</td>
                        <td>@registration.Email</td>
                        <td>@registration.MustArriveTime</td>
                        <td>@registration.CanLeaveTime</td>
                        <td>
                            @if (@registration.NeedTransportation.Length > 10)
                            {
                                @registration.NeedTransportation.Substring(0, 10) <!-- Displaying only the first 10 characters -->
                                <span class="ellipsis">...</span> <!-- Ellipsis span, hidden visually -->
                            }
                            else
                            {
                                @registration.NeedTransportation
                            }
                        </td>
                        <td>
                            <a class="viewButton" href="#"
                               data-toggle="modal"
                               data-target="#messageDetailsModal"
                               data-message-id="@registration.RegistrationId"
                               data-full-message="@registration.NeedTransportation">View</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
<div class="modal fade" id="specialRequestDetailsModal" tabindex="-1" role="dialog" aria-labelledby="specialRequestDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="specialRequestDetailsModalLabel">Special Request Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="specialRequestDetailsContent">
                    <!-- Special request details will be displayed here -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="~/js/RequestModal.js"></script>