@model MidStateShuttleService.Models.AllModels

<div class="cardHeader">
    <h2>Registrations</h2>
    <!--search-->
    <div class="search">
        <label>
            <input id="registrationSearch" type="text" placeholder="Search" />
            <i class="bi bi-search"></i>
        </label>
    </div>
</div>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Phone Number</td>
            <td>Email</td>
            <td>Pick up time</td>
            <td>Drop off time</td>
            <td>Details</td>
        </tr>
    </thead>
    <tbody id="registrationsTableBody">
        @if (Model.Register == null)
        {
            <tr><td colspan="4" class="text-center">There are Currently No Registrations</td></tr>
        }
        else
        {
            @foreach (var registration in Model.Register)
            {
                @if (registration.SpecialRequest == true)
                {
                    <tr class="registrationRow">
                        <td>@(registration.FirstName) @(registration.LastName)</td>
                        <td>@registration.PhoneNumber</td>
                        <td>@registration.Email</td>
                        <td>@registration.MustArriveTime</td>
                        <td>@registration.CanLeaveTime</td>
                        <td>@registration.NeedTransportation</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
