@model MidStateShuttleService.Models.RegisterModel

@{
    // Changed from registration to request
    ViewBag.Title = "Shuttle Service Request";
}

<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/Register.css" />

<!-- Include jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<body>

    <div class="wrapper wrapper--w680">
        <div class="form form-1">
            <div class="form-body">
                <h2 class="title">Edit Student</h2>
                <form asp-action="Edit" method="post" id="editForm">
                    @Html.AntiForgeryToken()

                    <!-- Inputs for the unchanging feilds -->
                    <input type="hidden" asp-for="RegistrationId"/>

                    <div class="student-info">
                        <p class="student-info-label">Student Information</p>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-fields">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "input--style-1", placeholder = "First Name", id="firstName" } })
                                    <div class="form-line"></div>
                                    <div id="firstName-validation-message" class="validation-message"></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-fields">
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "input--style-1", placeholder = "Last Name", id = "lastName" } })
                                    <div class="form-line"></div>
                                    <div id="lastName-validation-message" class="validation-message"></div>
                                </div>
                            </div>
                        </div>

                        <div class="input-fields">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input--style-1", placeholder = "Email", id = "email" } })
                            <div class="form-line"></div>
                            <div id="email-validation-message" class="validation-message"></div>
                        </div>

                        <div class="input-fields">
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "input--style-1", placeholder = "Phone Number", id = "phone" } })
                            <div class="form-line"></div>
                            <div id="phone-validation-message" class="validation-message"></div>
                        </div>
                    </div>

                    <div class="Route-schedule">
                        
                        <div class="input-fields">
                            <div class="radio-trip-type">
                                <p class="typetrip">Route Schedule</p>
                                <div class="radio-options">
                                    <input type="radio" id="RoundTrip" asp-for="TripType" value="RoundTrip" onclick="ToggleRoundTrip()" /><label for="RoundTrip">Round Trip</label>
                                    <input type="radio" id="OneWay" asp-for="TripType" value="OneWay" onclick="ToggleOneWay()" /> <label for="OneWay">One Way</label>
                                    <input type="radio" id="Friday" asp-for="TripType" value="Friday" onclick="ToggleFriday()" /> <label for="Friday">Friday<sup>*</sup></label>
                                </div>
                                <div class="form-line"></div>
                            </div>
                        </div>

                        <div class="additional-fields" id="TheBigOne">

                            <div class="initial-select-route">
                                <div class="return-select-route radio-trip-type">
                                    <p class="typetrip">Select Route </p>
                                    <div class="row row-space">

                                        <!-- Dropdown lisst for routes -->
                                        <div class="return-route-location-schedule">
                                            <select asp-for="SelectedRouteDetail" class="col-12" id="route">
                                                @foreach(Routes route in ViewBag.RouteList)
                                                {
                                                    if (ViewBag.SelectedPickupRoute == route.RouteID.ToString())
                                                    {
                                                        <option value="@route.RouteID" selected>Leave @route.PickUpLocation.Name.ToString() at @route.PickUpTime, Arrive at @route.DropOffLocation.Name.ToString() at @route.DropOffTime</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@route.RouteID">Leave @route.PickUpLocation.Name.ToString() at @route.PickUpTime, Arrive at @route.DropOffLocation.Name.ToString() at @route.DropOffTime</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="return-select-route radio-trip-type" id="ReturnDiv">

                                    <p class="typetrip">Return Route</p>
                                    <div class="row row-space">
                                        
                                        <!-- Placeholder for Return Select Route radio buttons -->
                                        <div class="return-route-location-schedule">
                                            <select asp-for="ReturnSelectedRouteDetail" class="col-12" id="returnRoute">
                                                @foreach (Routes route in ViewBag.RouteList)
                                                {
                                                    if (ViewBag.SelectedReturnRoute == route.RouteID.ToString())
                                                    {
                                                        <option value="@route.RouteID" selected>Leave @route.PickUpLocation.Name.ToString() at @route.PickUpTime, Arrive at @route.DropOffLocation.Name.ToString() at @route.DropOffTime</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@route.RouteID">Leave @route.PickUpLocation.Name.ToString() at @route.PickUpTime, Arrive at @route.DropOffLocation.Name.ToString() at @route.DropOffTime</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div id="Route-validation-message" class="validation-message"></div>

                                        <!-- Hidden fields for selected route details -->
                                        <input type="hidden" id="hiddenSelectedRouteDetail" name="SelectedRouteDetail" value="">
                                        <input type="hidden" id="hiddenReturnSelectedRouteDetail" name="ReturnSelectedRouteDetail" value="">

                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Friday Special Request Section -->
                        <div class="special-request" id="FridayDiv">
                            <div class="radio-trip-type">
                                <p class="typetrip">For any special request changes, please instruct the student to create a new special request.</p>
                            </div>
                        </div>
                        
                        <!-- Multi-select Checkboxes for Days of the Week -->
                        <div class="form-group pt-5">
                            <div class="input-fields">
                                <label for="daysofweek">Select the days of the week that this route will be needed.*</label>
                                <div class="daysofweek-checkbox-group">
                                    <label><input type="checkbox" name="SelectedDaysOfWeek" value="Monday" id="MondayToggle" @(ViewBag.SelectedDaysOfWeek.Contains("Monday") ? "checked" : "")> Monday</label>
                                    <label><input type="checkbox" name="SelectedDaysOfWeek" value="Tuesday" id="TuesdayToggle" @(ViewBag.SelectedDaysOfWeek.Contains("Tuesday") ? "checked" : "")> Tuesday</label>
                                    <label><input type="checkbox" name="SelectedDaysOfWeek" value="Wednesday" id="WednesdayToggle" @(ViewBag.SelectedDaysOfWeek.Contains("Wednesday") ? "checked" : "")> Wednesday</label>
                                    <label><input type="checkbox" name="SelectedDaysOfWeek" value="Thursday" id="ThursdayToggle" @(ViewBag.SelectedDaysOfWeek.Contains("Thursday") ? "checked" : "")> Thursday</label>

                                    <div class="form-line"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Date Field for First Day Expecting to Ride -->
                        <div class="form-group">
                            <div class="input-fields">
                                <label for="FirstDayExpectingToRide" class="contact-preference-label">First Day Expecting to Ride?</label>
                                <input type="date" asp-for="FirstDayExpectingToRide" class = "form-control"/>
                                <div id="FirstDayExpectingToRide-validation-message" class="validation-message">Please select the first day expecting to ride</div> <!-- Placeholder for validation message -->
                            </div>
                        </div>

                        <div class="contact-preference">
                            <div class="input-fields">
                                <p class="contact-preference-label">Contact Preference</p>
                                <div class="radio-options">
                                    @Html.RadioButtonFor(model => model.ContactPreference, "Email", new { id = "Email" }) <label for="Email">Email</label>
                                    @Html.RadioButtonFor(model => model.ContactPreference, "Phone", new { id = "Phone" }) <label for="Phone">Phone</label>
                                    @Html.RadioButtonFor(model => model.ContactPreference, "Text", new { id = "Text" }) <label for="Text">Text</label>
                                </div>
                                <div class="form-line"></div>
                            </div>
                        </div>
                    </div>

                    <div class="p-t-20">
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--submit" type="submit">Submit</button>
                            <button class="btn btn--radius btn--cancel" type="button" onclick="history.go(-1)">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

<script src="/js/Registeration/EditValidation.js"></script>
<script src="/js/Registeration/form-reset.js"></script>
<script src="/js/Registeration/editRegister.js"></script>
