@model MidStateShuttleService.Models.RegisterModel

@{
    ViewBag.Title = "Shuttle Service Registration";
}

<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/Register.css" />

<!-- Include jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<body>

    <div class="wrapper wrapper--w680">
        <div class="form form-1">
            <div class="form-body">
                <h2 class="title">Edit Student</h2>
                <form asp-action="Edit" method="post">
                    @Html.AntiForgeryToken()

                    <!-- Inputs for the unchanging feilds -->
                    <input type="hidden" asp-for="RegistrationId"/>

                    <div class="student-info">
                        <p class="student-info-label">Student Information</p>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-fields">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "input--style-1", placeholder = "First Name" } })
                                    <div class="form-line"></div>
                                    <div id="FirstName-validation-message" class="validation-message">Must be characters</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-fields">
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "input--style-1", placeholder = "Last Name" } })
                                    <div class="form-line"></div>
                                    <div id="LastName-validation-message" class="validation-message">Must be characters</div>
                                </div>
                            </div>
                        </div>

                        <div class="input-fields">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input--style-1", placeholder = "Email" } })
                            <div class="form-line"></div>
                            <div id="Email-validation-message" class="validation-message">Must be characters</div>
                        </div>

                        <div class="input-fields">
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "input--style-1", placeholder = "Phone Number" } })
                            <div class="form-line"></div>
                            <div id="PhoneNumber-validation-message" class="validation-message">Must be 10 digits</div>
                        </div>
                    </div>

                    <div class="Route-schedule">
                        
                        <div class="input-fields">
                            <div class="radio-trip-type">
                                <p class="typetrip">Route Schedule</p>
                                <div class="radio-options">
                                    @Html.RadioButtonFor(model => model.TripType, "RoundTrip", new { id = "RoundTrip" }) <label for="RoundTrip">Round Trip</label>
                                    @Html.RadioButtonFor(model => model.TripType, "OneWay", new { id = "OneWay" }) <label for="OneWay">One Way</label>
                                    @Html.RadioButtonFor(model => model.TripType, "Friday", new { id = "Friday" }) <label for="Friday">Friday<sup>*</sup></label>
                                </div>
                                <div class="form-line"></div>
                                <div id="TripType-validation-message" class="validation-message">Please select trip type</div> <!-- Placeholder for Trip Type validation message -->
                            </div>
                        </div>

                        <div class="additional-fields">

                            <div class="initial-select-route">
                                <div class="row row-space"><div class="col-6">
                                        <div class="input-fields">
                                            @if (Model.LocationNames != null)
                                            {
                                                @Html.DropDownListFor(model => model.PickUpLocationID, Model.LocationNames, "Select Pick-Up Location", new { @class = "input--style-1", id = "PickUpLocation" })
                                            }
                                            else
                                            {
                                                <p>Error: Location names not loaded.</p>
                                            }
                                            <div class="form-line"></div>
                                            <div id="PickUpLocation-validation-message" class="validation-message">Please select pickup location</div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-fields">
                                            @if (Model.LocationNames != null)
                                            {
                                                @Html.DropDownListFor(model => model.DropOffLocationID, Model.LocationNames, "Select Drop-Off Location", new { @class = "input--style-1", id = "DropOffLocation" })
                                            }
                                            else
                                            {
                                                <p>Error: Location names not loaded.</p>
                                            }
                                            <div class="form-line"></div>
                                            <div id="DropOffLocation-validation-message" class="validation-message">Pelase select dropoff location</div>
                                        </div>
                                    </div>


                                    <!-- Placeholder for Select Route radio buttons -->
                                    <div class="route-location-schedule">
                                        <div class="input-fields">
                                            <div class="radio-route-type">
                                                <div id="routeOptions" class="radio-route-options" name="SelectedRouteDetail"></div>
                                                <div id="routeOptions-validation-message" class="validation-message">Please select route option</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="return-select-route">
                                    <div class="row row-space">

                                        <div class="col-6">
                                            <div class="input-fields">
                                                @if (Model.LocationNames != null)
                                                {
                                                    @Html.DropDownListFor(model => model.PickUpLocationID, Model.LocationNames, "Return Pick-Up Location", new { @class = "input--style-1", id = "ReturnPickUpLocation" })
                                                }
                                                else
                                                {
                                                    <p>Error: Location names not loaded.</p>
                                                }
                                                <div class="form-line"></div>
                                                <div id="ReturnPickUpLocation-validation-message" class="validation-message">Please select pickup location</div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="input-fields">
                                                @if (Model.LocationNames != null)
                                                {
                                                    @Html.DropDownListFor(model => model.DropOffLocationID, Model.LocationNames, "Return Drop-Off Location", new { @class = "input--style-1", id = "ReturnDropOffLocation" })
                                                }
                                                else
                                                {
                                                    <p>Error: Location names not loaded.</p>
                                                }
                                                <div class="form-line"></div>
                                                <div id="ReturnDropOffLocation-validation-message" class="validation-message">Pelase select dropoff location</div>
                                            </div>
                                        </div>


                                        <!-- Placeholder for Return Select Route radio buttons -->
                                        <div class="return-route-location-schedule">
                                            <div class="input-fields">
                                                <div class="return-radio-route-type">
                                                    <div id="returnRouteOptions" class="return-radio-route-options" name="SelectedRouteDetail"></div>
                                                    <div id="returnRouteOptions-validation-message" class="validation-message">Please select return route option</div>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- Hidden fields for selected route details -->
                                        <input type="hidden" id="hiddenSelectedRouteDetail" name="SelectedRouteDetail" value="">
                                        <input type="hidden" id="hiddenReturnSelectedRouteDetail" name="ReturnSelectedRouteDetail" value="">

                                    </div>
                                </div>

                                <div class="schedule-date" style="display: none;">
                                    <!-- Multi-select Checkboxes for Days of the Week -->
                                    <div class="form-group">
                                        <div class="input-fields">
                                            <label for="daysofweek">Select the days of the week that this route will be needed.*</label>
                                            <div class="daysofweek-checkbox-group">
                                                <label><input type="checkbox" name="SelectedDaysOfWeek" value="Monday"> Monday</label>
                                                <label><input type="checkbox" name="SelectedDaysOfWeek" value="Tuesday"> Tuesday</label>
                                                <label><input type="checkbox" name="SelectedDaysOfWeek" value="Wednesday"> Wednesday</label>
                                                <label><input type="checkbox" name="SelectedDaysOfWeek" value="Thursday"> Thursday</label>
                                                <div class="form-line"></div>
                                                <div id="daysofweek-validation-message" class="validation-message">Please select days of week</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Date Field for First Day Expecting to Ride -->
                                    <div class="form-group">
                                        <div class="input-fields">
                                            <label for="FirstDayExpectingToRide">First Day Expecting to Ride?</label>
                                            @Html.EditorFor(model => model.FirstDayExpectingToRide, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                            <div id="FirstDayExpectingToRide-validation-message" class="validation-message">Please select the first day expecting to ride</div> <!-- Placeholder for validation message -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <div class="contact-preference">
                            <div class="input-fields">
                                <p class="contact-preference-label">Contact Preference</p>
                                <div class="radio-options">
                                    @Html.RadioButtonFor(model => model.ContactPreference, "Email", new { id = "Email" }) <label for="Email">Email</label>
                                    @Html.RadioButtonFor(model => model.ContactPreference, "Phone", new { id = "Phone" }) <label for="Phone">Phone</label>
                                    @Html.RadioButtonFor(model => model.ContactPreference, "Text", new { id = "Text" }) <label for="Text">Text</label>
                                </div>
                                <div class="form-line"></div>
                            </div>
                        </div>
                    </div>

                    <div class="p-t-20">
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--submit" type="submit">Edit</button>
                            <button class="btn btn--radius btn--cancel" type="button" onclick="resetForm()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

<script src="/js/Registeration/RegisterValidation.js"></script>
<script src="/js/Registeration/Registeration.js"></script>
<script src="/js/Registeration/finalconfirmation.js"></script>
<script src="/js/Registeration/RouteUpdater.js"></script>
<script src="/js/Registeration/ReturnRouteUpdater.js"></script>
<script src="/js/Registeration/routeVisibility.js"></script>
<script src="/js/Registeration/form-reset.js"></script>
<script src="/js/Registeration/autoFlipLocations.js"></script>