@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MidStateShuttleService.Models.Location

<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/Location.css" />



<!-- Include jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<body>
    <div>
        <div class="wrapper wrapper--w680 mt-5">
            <div class="form form-1">

                <div class="form-body">
                    <h2 class="title">Delete Location</h2>
                    <div>
                        @Html.AntiForgeryToken()
                        <div>


                            <div class="input-fields">
                                <div class="input--style-1">@Model.Name</div>
                                <div class="div-line"></div>
                                <div id="Name-validation-message" class="validation-message">Please enter a valid stop name.</div>
                            </div>

                            <div class="input-fields">
                                <div class="input--style-1">@Model.Address</div>
                                <div class="div-line"></div>
                                <div id="Address-validation-message" class="validation-message">Please enter a valid address.</div>
                            </div>

                            <div class="input-fields">
                            <div class="input--style-1">@Model.City</div>
                                <div class="div-line"></div>
                                <div id="City-validation-message" class="validation-message">Please enter a valid city.</div>
                            </div>

                            <div class="input-fields">
                                <div class="input--style-1">@Model.State</div>
                                <div class="div-line"></div>
                                <div id="State-validation-message" class="validation-message">Please enter a valid State.</div>
                            </div>

                            <div class="input-fields">
                                <div class="input--style-1">@Model.ZipCode</div>
                                <div class="div-line"></div>
                                <div id="ZipCode-validation-message" class="validation-message">Please enter a valid zip code.</div>
                            </div>

                            <div class="input-fields">
                                <div class="input--style-1">@Model.Abbreviation</div>
                                <div class="div-line"></div>
                                <div id="Abbreviation-validation-message" class="validation-message">Please enter a 3 digit easy to understand abbreviation.</div>
                            </div>

                            <div class="p-t-20">
                                <div class="p-t-20">
                                    <a asp-controller="Location" asp-action="Delete" asp-route-id="@Model.LocationId" class="btn btn--radius btn--green">Delete</a>
                                    <a asp-controller="Dashboard" asp-action="Index" class="btn btn--radius btn--cancel">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
