@model MidStateShuttleService.Models.AllModels
@{
    ViewData["Title"] = "Dashboard";
    <link rel="stylesheet" href="~/css/Dashboard.css" />
}
@{
    // Calculate total check-ins for the last 7 days
    var totalCheckInsLast7Days = Model.CheckIn.Where(c => c.Date >= DateTime.Today.AddDays(-7)).Count();

    // Calculate total check-ins for the last 30 days
    var totalCheckInsLast30Days = Model.CheckIn.Where(c => c.Date >= DateTime.Today.AddDays(-30)).Count();

    // Calculate total check-ins
    var totalCheckIns = Model.CheckIn.Count();

    var totalRiders = Model.Register.Count();
}

<div class="container1">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon"></span>
                    <span class="title"></span>
                </a>
            </li>
            <li>
                <a href="#" id="order">
                    <span class="icon"><i class="bi bi-house"></i></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            
            <li>
                <a href="#" id="special">
                    <span class="icon"><i class="bi bi-person-raised-hand"></i></span>
                    <span class="title">Requests</span>
                </a>
            </li>

            <li>
                <a href="#" id="routes">
                    <span class="icon"><i class="bi bi-map"></i></span>
                    <span class="title">Routes</span>
                </a>
            </li>
            <li>
                <a href="#" id="check">
                    <span class="icon"><i class="bi bi-clipboard2-check"></i></span>
                    <span class="title">Check-ins</span>
                </a>
            </li>
            <li>
                <a href="#" id="location">
                    <span class="icon"><i class="bi bi-geo-alt"></i></span>
                    <span class="title">Locations</span>
                </a>
            </li>
            <li>
                <a href="#" id="shuttle">
                    <span class="icon"><i class="bi bi-bus-front"></i></span>
                    <span class="title">Shuttles</span>
                </a>
            </li>

            <li>
                <a href="#" id="driver">
                    <span class="icon"><i class="bi bi-file-earmark-person-fill"></i></span>
                    <span class="title">Drivers</span>
                </a>
            </li>


            <li>
                @* <a href="#" id="feedback"> *@
                @* <a href="@Url.Action("Index", "Dashboard", new { section = "feedback" })" id="feedback">
                    <span class="icon"><i class="bi bi-hand-thumbs-up"></i></span>
                    <span class="title">Feedbacks</span>
                </a> *@
                <a href="@Url.Action("Index", "Dashboard", new { section = "feedback" })" id="feedback">
                    <span class="icon"><i class="bi bi-hand-thumbs-up"></i></span>
                    <span class="title">Testimonials</span>
                </a>
            </li>


            <li>
                <a href="@Url.Action("Index", "Communicate")">
                    <span class="icon"><i class="bi bi-send-arrow-down-fill"></i></span>
                    <span class="title">Send Messages</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Home")">
                    <span class="icon"><i class="bi bi-arrow-return-left"></i></span>
                    <span class="title">Return Home</span>
                </a>
            </li>

            <li>
                <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="Signout" >
                    <span class="icon"><i class="bi bi-box-arrow-left"></i></span>
                    <span class="title">Sign out</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="main">
    <div class="topbar">
        <div class="toggle">
            <i class="bi bi-list"></i>
        </div>
        

        <div class="icons-container">
            <div class="notification-container">

                <div class="notification-bell" onclick="toggleNotifications('notificationBellDropdown')"
                     data-registration-count="@ViewData["RegistrationCount"].ToString()"
                     data-check-in-count="@ViewData["CheckInCount"]">
                    <span class="badge"></span>
                    <i class="bi bi-bell"></i>
                </div>
                <div class="dropdown-menu notifications dropdown-menu-arrow" id="notificationBellDropdown" style="display: none;">
                     <!-- Notifications go here -->
                </div>
            </div>
            <div class="notification-container">
                <div class="notification-message" onclick="toggleNotifications('notificationMessageDropdown')"
                     data-message-count="@ViewData["MessageCount"]"
                     data-feedback-count="@ViewData["FeedbackCount"]"
                     data-last-message="@ViewData["LastMessage"]">
                    <span class="badge"></span>
                    <i class="bi bi-chat-left-text"></i>
                </div>

                <div class="dropdown-menu notifications dropdown-menu-arrow" id="notificationMessageDropdown" style="display: none;">
                    <!-- Notifications go here -->
                </div>

            </div>
        </div>
    </div>
    <!--Cards-->
    <div class="cardBox">
        <div class="card">
            <div>
                <div class="numbers">@totalCheckInsLast7Days</div>
                <div class="cardName">Weekly Requests</div>
            </div>
            <div class="icon">
                <i class="bi bi-clipboard2-check"></i>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers"> @totalCheckInsLast30Days</div>
                <div class="cardName">Monthly Checkins</div>
            </div>
            <div class="icon">
                <i class="bi bi-clipboard2-check"></i>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">@totalCheckIns</div>
                <div class="cardName">Total Checkins</div>
            </div>
            <div class="icon">
                <i class="bi bi-clipboard2-check"></i>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">@totalRiders</div>
                <div class="cardName">Total Riders</div>
            </div>
            <div class="icon">
                <i class="bi bi-bus-front"></i>
            </div>
        </div>
        <!--Sections-->

    </div>
    <div class="details">
        <!--Tables to hide-->
        <div class="recentFeedback messages">
            @await Html.PartialAsync("~/Views/Shared/DashboardPartials/MessagesTable.cshtml")
        </div>
        <div class="recentFeedback route">
            @await Html.PartialAsync("~/Views/Shared/DashboardPartials/RouteTable.cshtml")
        </div>
        <div class="recentFeedback check">
            @await Html.PartialAsync("~/Views/Shared/DashboardPartials/CheckInTable.cshtml")
        </div>
        <div class="recentFeedback location">
            @await Html.PartialAsync("~/Views/Shared/DashboardPartials/LocationTable.cshtml")
        </div>
        <div class="recentFeedback driver">
            @await Html.PartialAsync("~/Views/Shared/DashboardPartials/DriverTable.cshtml")
        </div>
        <div class="recentFeedback shuttle">
            @await Html.PartialAsync("~/Views/Shared/DashboardPartials/ShuttleTable.cshtml")
        </div>
        <div class="recentFeedback feedback">
            @await Html.PartialAsync("~/Views/Shared/DashboardPartials/FeedbackTable.cshtml")
        </div>
        <div class="recentFeedback special">
            @await Html.PartialAsync("~/Views/Shared/DashboardPartials/SpecialTable.cshtml")
        </div>
        
    </div>

</div>

<script type="text/javascript">
    var feedbackUrl = '@Url.Action("Index", "Dashboard", new { section = "feedback" })';
    var messageUrl = '@Url.Action("Index", "Dashboard", new { section = "message" })'; // Ensure this line is correct
    console.log('Testimonial URL:', feedbackUrl);
    console.log('Message URL:', messageUrl);
</script>

<script type="text/javascript">
    // Define a global variable in .cshtml file
    var globalOpenSection = '@ViewBag.OpenSection';
    console.log(globalOpenSection);
</script>



<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>

<script src="/js/Dashboard/DisplayNotification.js"></script>
<script src="/js/Dashboard/dashboard-sections.js" defer></script>

<script src="/js/Dashboard/Nav.js"></script>
<script src="/js/Dashboard/Table.js"></script>

@* <script src="/js/dashboard/Nav.js"></script> *@
<script src="/js/Dashboard/notification.js"></script>
<script src="/js/dashboard/Table.js"></script>
<script src="/js/SearchFunc/RouteSearch.js"></script>

