@model List<MidStateShuttleService.Models.RegisterModel>
@{
    ViewData["Title"] = ViewBag.Title;
    <link rel="stylesheet" href="~/css/PassengerList.css" />
}

<div class="details">
    <div class="recentItem">
        <div class="cardHeader">
            <h2>@ViewData["Title"]</h2>

        </div>
        <table>
            <thead>
                <tr>
                    <th>Passenger Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>First Day Expected to Ride</th>
                    <th>Is Active</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null || Model.Count == 0)
                {
                    <tr><td colspan="6" class="text-center">There are currently no registrations</td></tr>
                }
                else
                {
                    @foreach (var registration in Model.OrderBy(r => r.FirstDayExpectingToRide))
                    {
                        <tr>
                            <td>@(registration.FirstName) @(registration.LastName)</td>
                            <td>@registration.PhoneNumber</td>
                            <td><a href="mailto:@registration.Email">@registration.Email</a></td>
                            <td>@registration.FirstDayExpectingToRide</td>
                            <td>@registration.IsActive.ToString()</td>
                            <td><a asp-controller="Register" asp-action="Edit" asp-route-id="@registration.RegistrationId">Edit</a></td>
                            <td><a asp-controller="Register" asp-action="Delete" asp-route-id="@registration.RegistrationId">Delete</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
