@model List<MidStateShuttleService.Models.RegisterModel>
@{
    ViewData["Title"] = ViewBag.Title;
    <link rel="stylesheet" href="~/css/PassengerList.css" />
}

<div class="details">
    <div class="recentItem">
        <div class="cardHeader">
            <h2>@ViewData["Title"]</h2>
            <button type="button" id="printButton" class="btn print-hide" data-toggle="modal" data-target="#routeSchedual">Print</button>
            <div>
                <label for="daySelector">Select Day:</label>
                <select class="print-hide" id="daySelector">
                    <option value="">All Days</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                </select>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>First Day Expected to Ride</th>
                    <th>Days of the week they are riding</th>
                    <th>Is Active</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="passengerList">
                @if (Model == null || Model.Count == 0)
                {
                    <tr><td colspan="3" class="text-center">There are currently no registrations</td></tr>
                }
                else
                {
                    @foreach (var registration in Model.OrderBy(r => r.FirstDayExpectingToRide))
                    {
                        <tr class="passengerRow" data-days="@string.Join(",", registration.SelectedDaysOfWeek)">
                            <td>@(registration.FirstName) @(registration.LastName)</td>
                            <td>@registration.PhoneNumber</td>
                            <td><a href="mailto:@registration.Email">@registration.Email</a></td>
                            <td class="print-hide">@registration.FirstDayExpectingToRide</td>
                            <td class="print-hide">@string.Join(", ", registration.SelectedDaysOfWeek)</td>
                            <td class="print-hide">@registration.IsActive.ToString()</td>
                            <td class="print-hide"><a asp-controller="Register" asp-action="Edit" asp-route-id="@registration.RegistrationId">Edit</a></td>
                            <td class="print-hide"><a asp-controller="Register" asp-action="Delete" asp-route-id="@registration.RegistrationId">Delete</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="routeSchedual" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="routeSchedualLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="routeSchedualLabel">@ViewBag.Title</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="printThis">
                <div class="container table table-striped">
                    <div class="row align-items-start">
                        <div class="col">
                            <img src="~/img/mstclogo.jpg" />
                        </div>
                        <div class="col">
                            <h4 class="modal-title" id="routeSchedualLabel">Shuttle Service Route Schedule</h4>
                        </div>
                    </div>
                    <div class="row align-items-start table-top-border">
                        <div class="col center-col table-left-border red-cell">Name</div>
                        <div class="col center-col table-left-border gold-cell">Email</div>
                        <div class="col center-col gold-cell">Phone Number</div>
                    </div>
                    <div id="modalPassengerList">
                        <!-- Data will be dynamically populated here -->
                    </div>
                    <div class="row table-top-border">
                        <br />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-mstc-gold" data-dismiss="modal">Close</button>
                <button type="button" id="printModalButton" class="btn-mstc-red">Print</button>
            </div>
        </div>
    </div>
</div>


<script src="~/js/PassengerList.js"></script>
